<%- include ('header.ejs') %>

<body>
    <header class="navbar">
        <section class="navbar-content">
            <a href="/">
                <h1>ScienceBlog</h1>
            </a>
            
            <ul class="creation-route">
                <li>
                    <a href="/categories">Categories</a>
                    <a href="/articles">Articles</a>
                </li>
            </ul>
        </section>
    </header>
</body>

<%- include ('footer.ejs') %>