.navbar {
    display: flex;
    background-image: url('../images/Jellyfish.jpg');
    background-size: auto;
    width: 100%;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.navbar-content * {
    color: #fff;
}

.creation-route li a{
    margin: 0 10px;
}