@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('./navbar.css');
@import url('./article-creation.css');
@import url('./categories-articles.css');
@import url('./homepage.css');
@import url('./homenavbar.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #eef0e9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    position: relative;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px;
}

.btn {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0077b6;
}